.hero {
  @include adaptive-margin-top(79, 27);
  @include adaptive-padding-inline(70, 5);
  width: 100%;
  text-align: center;
  

  h1 {
    @include fluid-text(56, 28);
    color: var(--c-accent);
    line-height: 120%;
    font-weight: 700;
    animation: fadeIn 0.5s ease-out forwards;
  }

  p {
    @include fluid-text(32, 16);
    @include adaptive-margin-top(30, 10);
    line-height: 120%;
    animation: fadeIn 0.5s ease-out forwards;
  }

  @include mobile {
    padding-inline: 5px;
    text-align: start;
  }
}