@font-face {
    font-family: 'Proxima';
    src: url('../assets/fonts/ProximaNovaCond-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
font-family: 'Proxima';
src: url('../assets/fonts/proximanovacond_black.woff2') format('woff2');
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
    font-family: 'Proxima';
    src: url('../assets/fonts/ProximaNovaCond-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Proxima';
    src: url('../assets/fonts/proximanovacond_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}