a {
    text-decoration: none;
    color: var(--c-dark);
    
}

body {
    font-family: "Proxima", sans-serif;
    color: var(--c-dark);
    // padding-inline: 335px;
    
}

// button {
//   padding: 10px 20px;
// }

.container {
  max-width: 1250px;
  width: 100%; 
  margin: 0 auto;
}

.rotated {
  transform: scaleX(-1);
}
