@mixin fluid-text($max: 48, $min: 16) {
  font-size: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}
  
@mixin reset-link {
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}
  
@mixin reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}
  
@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else  {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}
  
@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
  
@mixin square($size) {
  width: $size;
  aspect-ratio: 1;
}

@mixin adaptive-width($max, $min) {
  width: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-height($max, $min) {
  height: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-padding($max, $min) {
  padding: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-padding-block($max, $min) {
  padding-block: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-padding-bottom($max, $min) {
  padding-block: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-margin-block($max, $min) {
  margin-block: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-padding-inline($max, $min) {
  padding-inline: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-padding-top($max, $min) {
  padding-top: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-margin-top($max, $min) {
  margin-top: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-margin-bottom($max, $min) {
  margin-bottom: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}

@mixin adaptive-margin-left($max, $min) {
  margin-left: clamp(#{$min}px, #{calc($max / 1920) * 100}vw, #{$max}px);
}
  
@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}