@import
  'normalize',
  'fonts',
  'mixins',
  'media',
  'variables',
  'utils',
  'globals';




.header {
    width: 100%;
    height: 85px;
    padding-inline: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    border: 1px solid #d9d9d9;

    
    
    &__menu {
      display: flex;
      align-items: center;
      column-gap: 20px;
      font-weight: 600;
    }
}

.hero {
  width: 100%;
  text-align: center;
  margin-block: 79px;
  padding-inline: 70px;
  

  h1 {
    color: var(--c-accent);
    line-height: 120%;
    font-size: 56px;
    font-weight: 700;
  }

  p {
    margin-top: 30px;
    font-size: 32px;
    line-height: 120%;
  }
}

.map {
  width: 100%;


  &__header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-bottom: 70px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
    padding-inline: 70px;

    &__more {
      font-size: 24px;
      font-weight: 600;
      line-height: 100%;
      display: flex;
      align-items: center;
      column-gap: 16px;
      

      img {
        width: 24px;
        height: 24px;
      }
    }

    &__navbar {
      display: flex;
      align-items: center;
      column-gap: 30px;
      line-height: 20px;
      font-size: 18px; 

      .active_city {
        color: var(--c-accent-alt);
        position: relative; 

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -3px; 
          width: 100%;
          height: 3px;
          background-color: var(--c-accent-alt);
        }
      }
    }
  }
  
  &__img {
    width: 1190px;
    height: 604px;
    margin-inline: 30px;
  }
}

.mission {
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 471px;
  background-color: var(--c-accent-alt);
  margin-top: 100px;
  padding-top: 139px;
  padding-bottom: 140px;

  h2 {
    font-size: 56px;
    font-weight: 600;
  }

  p {
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
  }
}

.directions {
  margin-top: 100px;

  h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
  }

  &__navigator {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 22px;

    &__item {
    width: 615px;
    height: 260px;
    position: relative; // Родитель должен быть позиционирован

    img {
      position: absolute;
      z-index: -1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover; // Обрезает и масштабирует изображение под контейнер
    }

    &__text {
      position: absolute; 
      bottom: 0; 
      left: 0;
      width: 100%;
      height: 80px;
      background-color: rgba(45, 54, 83, 0.6);
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      line-height: 80px; 
      padding-left: 15px;
    }
    }
  }
}

.compensation {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-inline: 148px;
  padding-bottom: 70px;
  width: 100%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  max-width: 1110px;
  margin: 100px auto;

  h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
  }

  h3, h4 {
    margin: 0;
    margin-top: 70px;
    font-size: 40px;
    line-height: 120%;
    font-weight: 600;
    text-align: center;
  }

  h4 {
    margin-top: 4px;
    color: var(--c-accent);
    margin-bottom: 50px;
  }

  &__line {
    width: 1050px;
    height: 1px;
    background-color: #000000;
    margin-top: 75px;
    opacity: 0.1;
  }

  &__items {
    display: flex;
    column-gap: 16px;
  }

  &__item {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 178px;
    height: 160px;


    img {
      width: 110px;
      height: 110px;
    }

    p {
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 110%;
    }
  }
}

.life {
  padding-bottom: 67px;
  max-width: 1110px;
  width: 100%; 
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h2 {
      font-weight: 600;
      font-size: 56px;
      line-height: 100%;
    }

    &__btns {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
  }

  &__img {
    width: 100%;
    max-height: 834px;
  }

  &__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slide {
    margin-top: 28px;
    width: 214px;
    height: 6px;
    opacity: 0.1;
    background-color: #000000;
  }

  .active {
    background-color: var(--c-accent-alt);
    opacity: 1;
  }
}